* {
    margin: 0;
    padding: 0;

}


.metade1{
width: 50%;
height:100%;
background-color: aqua;
display: 0;
position:absolute;

}

.vermelho{
    background-color: red;
    width: 2.5%;
    height: 100px;
    display:inline-block;

}

.azul{
    background-color: blue;
    width: 2.5%;
    height: 100px;
    display:inline-block;
    

}

.amarelo{
    background-color: yellow;
    width: 2.5%;
    height: 100px;
    display:inline-block;

}

.verde{
    background-color: green;
    width: 2.5%;
    height: 100px;
    display:inline-block;

}

.metade2{
width: 100%;
height: 50%;

}